.image {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.post {
  margin-top: 5rem;

  h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  span {
    display: block;
    margin-top: 1.5rem;
    font-style: italic;
    font-size: 0.875rem;
    color: var(--color-info);
  }
}

.content {
  margin-top: 4rem;

  h2 {
    margin-bottom: 4rem;
    font-size: 2.25rem;
  }

  p {
    margin: 2rem 0;
    font-size: 1.125rem;
    line-height: 1.575rem;
    text-align: justify;
  }

  a {
    color: var(--color-highlight);
  }

  ul {
    padding: 1rem;

    li {
      margin: 1rem 0;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-nav-border);

  div {
    padding-top: 3rem;

    & + div {
      text-align: right;
    }

    h3 {
      margin-bottom: 0.5rem;
      font-size: 1.125rem;
      font-weight: normal;
      color: var(--color-heading);
    }

    a {
      color: var(--color-highlight);
    }
  }
}
